doctype html
html
    link(rel="stylesheet", href="/stylesheets/style.css")
    body.bg
        p.p1 Welcome to Amanat Eye Hospital
        p.p2 Please select your designation
        #desig1
            button.buttondoc Doctor
        #desig2
            button.buttonpat Patient